!!! 5
%html
  %head
    %meta{ :charset => 'utf8' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/glog.css' }
    %title= config['title']
      
  %body
    %header
      %h1
        Blogo de Antono
        = "(#{pages.all.size})"
      
    %section
      %p Добро пожаловать в рай!
   
    %footer
      = "Copyleft 2006-" + Date.today.year.to_s