!!! 5
%html
  %head
    %meta{ :charset => 'utf8' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/glog.css' }
    %title
      - if page.title
        = page.title
        ' | '
      - else
        = config['title']
      
  %body
    %header
      %h1 Test Glog
      
    %article
      = page.to_html

    %footer
      = "Copyleft 2006-" + Date.today.year.to_s